Repository ISPP-Eventia/eventus, pull requests merged in 2022-04, with the labels that each got.

#219 Fix/#191 security vulnerabilities
  backend/pom.xml
  frontend/package-lock.json
Labels: devops

#247 Test/#227 hosting tests
  backend/src/test/java/com/eventus/backend/model/HostingModelTests.java
  backend/src/test/java/com/eventus/backend/service/UserServiceTests.java
Labels: backend

#248 refactor: Change repeated user emails
  backend/src/main/resources/data.sql
Labels: backend

#249 Test/#224 sponsorship tests
  backend/src/test/java/com/eventus/backend/model/SponsorshipModelTests.java
Labels: backend

#256 Feature/#223 test participacion
  backend/src/test/java/com/eventus/backend/model/ParticipationModelTest.java
  backend/src/test/java/com/eventus/backend/service/ParticipationServiceTest.java
Labels: development, backend

#313 #312-style: Translated all error messages to spanish
  backend/src/main/java/com/eventus/backend/services/EventService.java
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/ParticipationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/StripeService.java
  backend/src/main/java/com/eventus/backend/services/UserService.java
Labels: development

#317 Feature/#291 image handling
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/LocationController.java
  backend/src/main/java/com/eventus/backend/controllers/MediaController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/models/Event.java
  backend/src/main/java/com/eventus/backend/models/Image.java
  backend/src/main/java/com/eventus/backend/models/Location.java
  backend/src/main/java/com/eventus/backend/models/Media.java
  backend/src/main/java/com/eventus/backend/models/Sponsorship.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/repositories/FileSystemRepository.java
  backend/src/main/java/com/eventus/backend/repositories/MediaRepository.java
  backend/src/main/java/com/eventus/backend/services/ILocationService.java
  backend/src/main/java/com/eventus/backend/services/IMediaService.java
  backend/src/main/java/com/eventus/backend/services/ISponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/MediaService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/resources/media/example.png
  backend/src/test/java/com/eventus/backend/model/EventModelTests.java
  backend/src/test/java/com/eventus/backend/model/MediaModelTests.java
  backend/src/test/java/com/eventus/backend/model/UserModelTests.java
Labels: development, backend

#320 #289-feat: add image slider component ...
  backend/.gitignore
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/LocationController.java
  backend/src/main/java/com/eventus/backend/models/Media.java
  backend/src/main/resources/application.properties
  frontend/src/api/index.ts
  frontend/src/components/molecules/Cards/eventCard.tsx
  frontend/src/components/molecules/Cards/locationCard.tsx
  frontend/src/components/molecules/Cards/selectedEventCard.tsx
  frontend/src/components/molecules/ImageSlider/imageSlider.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/locations/locationDetails.tsx
  frontend/src/types/index.ts
Labels: enhancement

#319 Feature/#287 hashtags
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/templates/shareModal/share.tsx
  frontend/src/config/theme.config.json
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/utils/index.ts
Labels: enhancement

#321 hotfix: avoid stripe transaction when price is 0
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/ParticipationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
Labels: bug, backend

#342 test: Media test service tests
  backend/src/main/java/com/eventus/backend/models/EventTag.java
  backend/src/main/java/com/eventus/backend/services/ITagService.java
  backend/src/main/java/com/eventus/backend/services/TagService.java
  backend/src/test/java/com/eventus/backend/service/MediaServiceTests.java
Labels: backend, devops
