Repository ISPP-Eventia/eventus, pull requests merged in 2022-03, with the labels that each got.

#86 Project initialization
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/README.md
  backend/docker-compose.yml
  backend/init.sql
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/com/eventus/backend/BackendApplication.java
  backend/src/main/java/com/eventus/backend/configuration/ExampleConfiguration.java
  backend/src/main/java/com/eventus/backend/configuration/SecurityConfiguration.java
  backend/src/main/java/com/eventus/backend/controllers/ExampleController.java
  backend/src/main/java/com/eventus/backend/models/ExampleModel.java
  backend/src/main/java/com/eventus/backend/repositories/ExampleRepository.java
  backend/src/main/java/com/eventus/backend/services/ExampleService.java
  backend/src/main/java/com/eventus/backend/services/IExampleService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/eventus/backend/BackendApplicationTests.java
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/robots.txt
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/atoms/Loader/index.ts
  frontend/src/components/atoms/Loader/loader.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/index.ts
  frontend/src/components/templates/index.ts
  frontend/src/config/index.ts
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/pages/index.ts
  frontend/src/pages/landing.tsx
  frontend/src/pages/page.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/routes/index.ts
  frontend/src/routes/routes.tsx
  frontend/src/services/index.ts
  frontend/src/setupTests.ts
  frontend/src/utils/index.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
Labels: development, frontend, backend

#90 task #47 DevOps: DOCKERIZACION DE LA APLICACIÓN COMPLETA
  backend/Dockerfile
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/package-lock.json
Labels: devops

#104 Feature/#98 clase usuario
  backend/pom.xml
  backend/src/main/java/com/eventus/backend/models/Image.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/repositories/UserRepository.java
  backend/src/main/java/com/eventus/backend/services/UserService.java
  backend/src/test/java/com/eventus/backend/service/UserServiceTests.java
Labels: enhancement, backend

#111 Feature/#65 participation functionality
  backend/pom.xml
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/models/Event.java
  backend/src/main/java/com/eventus/backend/models/Participation.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/repositories/ParticipationRepository.java
  backend/src/main/java/com/eventus/backend/services/ParticipationService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/data.sql
  backend/src/test/java/com/eventus/backend/service/ParticipationServiceTest.java
  backend/src/test/java/com/eventus/backend/service/UserServiceTests.java
Labels: enhancement, backend

#110 #71-feat: Add participation drawer ...
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/molecules/Cards/eventCard.tsx
  frontend/src/components/molecules/Modal/modal.tsx
  frontend/src/components/molecules/SwipeableDrawer/swipeableDrawer.tsx
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/ModalDrawer/modalDrawer.tsx
  frontend/src/components/organisms/forms/participateForm.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/templates/index.ts
  frontend/src/mocks/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/events/events.tsx
  frontend/src/pages/test.tsx
  frontend/src/types/index.ts
Labels: development, frontend

#157 #81-feat: implement location detail page
  frontend/src/components/organisms/forms/hostingForm.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/mocks/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/locations/locationDetails.tsx
  frontend/src/routes/routes.tsx
  frontend/src/types/index.ts
Labels: frontend

#142 Feature/#75 sponsor functionality
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/models/Event.java
  backend/src/main/java/com/eventus/backend/models/Image.java
  backend/src/main/java/com/eventus/backend/models/Sponsorship.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/repositories/SponsorshipRepository.java
  backend/src/main/java/com/eventus/backend/repositories/UserRepository.java
  backend/src/main/java/com/eventus/backend/services/EventService.java
  backend/src/main/java/com/eventus/backend/services/IEventService.java
  backend/src/main/java/com/eventus/backend/services/ISponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/UserService.java
  backend/src/test/java/com/eventus/backend/service/ParticipationServiceTest.java
Labels: enhancement, development, backend

#163 Feature/#100 location class
  backend/src/main/java/com/eventus/backend/models/Location.java
  backend/src/main/java/com/eventus/backend/repositories/LocationRepository.java
  backend/src/main/java/com/eventus/backend/services/ILocationService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
Labels: enhancement, development, backend

#165 Feature/#139 swagger
  backend/pom.xml
  backend/src/main/java/com/eventus/backend/configuration/SwaggerConfig.java
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/resources/application.properties
Labels: development, backend

#164 Feature/#63 events form
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/atoms/Error/error.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/index.ts
  frontend/src/components/organisms/forms/eventForm.tsx
  frontend/src/components/organisms/forms/participateForm.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/components/templates/newEvent/NewEvent.tsx
  frontend/src/mocks/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/events/newEvent.tsx
  frontend/src/services/index.ts
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: development, frontend

#167 Feature/#79 hosting endpoints
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/HostingController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/models/Event.java
  backend/src/main/java/com/eventus/backend/models/Hosting.java
  backend/src/main/java/com/eventus/backend/models/Location.java
  backend/src/main/java/com/eventus/backend/models/Sponsorship.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/IHostingService.java
Labels: enhancement, development, backend

#172 Fix/#80 location integration
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/HostingController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/models/Coordinates.java
  backend/src/main/java/com/eventus/backend/models/Event.java
  backend/src/main/java/com/eventus/backend/models/Hosting.java
  backend/src/main/java/com/eventus/backend/models/Location.java
  backend/src/main/java/com/eventus/backend/models/Sponsorship.java
  backend/src/main/java/com/eventus/backend/services/EventService.java
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/ILocationService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/resources/data.sql
  frontend/src/components/organisms/forms/locationForm.tsx
  frontend/src/mocks/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/locations/locationDetails.tsx
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: development, frontend

#176 Feature/#141 refactor
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/HostingController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/controllers/ValidationController.java
  backend/src/main/java/com/eventus/backend/models/Hosting.java
  backend/src/main/java/com/eventus/backend/models/Participation.java
  backend/src/main/java/com/eventus/backend/repositories/HostingRepository.java
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/IHostingService.java
  backend/src/main/java/com/eventus/backend/services/ILocationService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  frontend/src/components/atoms/Error/error.tsx
  frontend/src/components/templates/newEvent/NewEvent.tsx
  frontend/src/components/templates/newLocation/NewLocation.tsx
Labels: backend

#214 ci: Changed configuration for deployment
  deployment/.env.pro
  deployment/docker-compose.yml
Labels: devops

#213 Feature/#144 session endpoints
  backend/pom.xml
  backend/src/main/java/com/eventus/backend/configuration/ExampleConfiguration.java
  backend/src/main/java/com/eventus/backend/configuration/NoRedirectStrategy.java
  backend/src/main/java/com/eventus/backend/configuration/PasswordConfig.java
  backend/src/main/java/com/eventus/backend/configuration/SecurityConfiguration.java
  backend/src/main/java/com/eventus/backend/configuration/TokenAuthenticationFilter.java
  backend/src/main/java/com/eventus/backend/configuration/TokenAuthenticationProvider.java
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/HostingController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/controllers/UserController.java
  backend/src/main/java/com/eventus/backend/models/User.java
  backend/src/main/java/com/eventus/backend/repositories/UserRepository.java
  backend/src/main/java/com/eventus/backend/services/ILocationService.java
  backend/src/main/java/com/eventus/backend/services/ISponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/ITokenService.java
  backend/src/main/java/com/eventus/backend/services/IUserService.java
  backend/src/main/java/com/eventus/backend/services/JWTTokenService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/ParticipationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/UserService.java
  frontend/src/api/axios.ts
  frontend/src/api/index.ts
  frontend/src/components/atoms/HostingRequest/hostingRequest.tsx
  frontend/src/components/atoms/index.ts
  frontend/src/components/molecules/Cards/userHorizontalCard.tsx
  frontend/src/components/organisms/forms/loginForm.tsx
  frontend/src/components/organisms/forms/signupForm.tsx
  frontend/src/components/organisms/index.ts
  frontend/src/pages/events/eventDetails.tsx
  frontend/src/pages/header.tsx
  frontend/src/pages/index.ts
  frontend/src/pages/locations/locationDetails.tsx
  frontend/src/pages/page.tsx
  frontend/src/pages/session/session.tsx
  frontend/src/routes/routes.tsx
  frontend/src/types/index.ts
  frontend/src/utils/index.ts
Labels: frontend, backend

#215 Feature/#151 profile info endpoint
  backend/src/main/java/com/eventus/backend/controllers/EventController.java
  backend/src/main/java/com/eventus/backend/controllers/ExampleController.java
  backend/src/main/java/com/eventus/backend/controllers/HostingController.java
  backend/src/main/java/com/eventus/backend/controllers/LocationController.java
  backend/src/main/java/com/eventus/backend/controllers/ParticipationController.java
  backend/src/main/java/com/eventus/backend/controllers/SponsorshipController.java
  backend/src/main/java/com/eventus/backend/controllers/UserController.java
  backend/src/main/java/com/eventus/backend/models/ExampleModel.java
  backend/src/main/java/com/eventus/backend/repositories/EventRepository.java
  backend/src/main/java/com/eventus/backend/repositories/ExampleRepository.java
  backend/src/main/java/com/eventus/backend/services/EventService.java
  backend/src/main/java/com/eventus/backend/services/ExampleService.java
  backend/src/main/java/com/eventus/backend/services/HostingService.java
  backend/src/main/java/com/eventus/backend/services/IEventService.java
  backend/src/main/java/com/eventus/backend/services/IExampleService.java
  backend/src/main/java/com/eventus/backend/services/IHostingService.java
  backend/src/main/java/com/eventus/backend/services/ISponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/IUserService.java
  backend/src/main/java/com/eventus/backend/services/LocationService.java
  backend/src/main/java/com/eventus/backend/services/ParticipationService.java
  backend/src/main/java/com/eventus/backend/services/SponsorshipService.java
  backend/src/main/java/com/eventus/backend/services/UserService.java
Labels: development, backend
